{# templates/media/_media_list.html.twig #}

<div class="columns is-multiline">
    {% for media in pagination.items %}
        <div class="column is-one-fifth">
            <div class="media-card">
                <div class="card-image">
                    <label class="media-checkbox">
                        <input type="checkbox" class="checkbox">
                        <div class="overlay-checkbox"></div>
                    </label>
                    {% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
                        <figure class="image is-4by3">
                            <img src="{{ media.origin ~ '/thumbnail' }}" alt="{{ media.altAttribute }}">
                        </figure>
                    {% else %}
                        <figure class="image is-4by3">
                            <img src="/images/default-media.png" alt="Media">
                        </figure>
                    {% endif %}
                </div>
                <div class="card-content">
                    <p class="media-name has-text-weight-bold" title="{{ media.originalFileName }}">{{ media.originalFileName }}</p>
                    <div class="sub-content">
                        <p class="media-info has-text-grey">
                            Ajouté le {{ media.uploadedAt|date('d/m/Y') }}
                        </p>
                        <p class="media-info">
                            <span class="tag is-light is-bold">
                                {% if media.type == constant('App\\Entity\\Media::TYPE_IMAGE') %}
                                    Image
                                {% elseif media.type == constant('App\\Entity\\Media::TYPE_VIDEO') %}
                                    Vidéo
                                {% elseif media.type == constant('App\\Entity\\Media::TYPE_AUDIO') %}
                                    Audio
                                {% elseif media.type == constant('App\\Entity\\Media::TYPE_DOCUMENT') %}
                                    Document
                                {% else %}
                                    Inconnu
                                {% endif %}
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <p>Aucun média disponible.</p>
    {% endfor %}
</div>

{# Pagination #}
{{ knp_pagination_render(pagination) }}
