{% macro renderMenu(menu,menuItemId = null) %}
    {% if menu is same as(null) %}
        <div class="error text-center">
            <span class="icon">
                <i class="ri-error-warning-line"></i>
            </span>
            <span>Menu introuvable</span>
        </div>
    {% else %}
        <div class="menu-item" data-edit-settings-url="{{ path('app_edit_page_settings',{page:menu.uuid}) }}" data-remove-url="{{ path('app_delete_page',{page:menu.uuid}) }}" data-menu-id="{{ menu.uuid }}" {% if menuItemId is not same as(null) %}data-menu-item-id="{{ menuItemId }}"{% endif %}>
            <div class="menu-title">
            <span class="icon">
                <i class="ri-list-check"></i>
            </span>
                <span class="page-name">{{ menu.name }}</span>
                <span class="icon toggle-icon">
                <i class="ri-arrow-down-s-line"></i>
            </span>
                <div class="options-button">
                    <div class="dropdown is-right">
                        <div class="dropdown-trigger">
                            <button class="" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon">
                                <i class="ri-more-fill"></i>
                            </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                            <div class="dropdown-content">
                                <a class="dropdown-item" data-action="open_page_settings">Paramètres</a>
                                <a class="dropdown-item">Design</a>
                                <a class="dropdown-item has-text-danger" data-action="remove_page">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="menu-content">
                {% for menuItem in menu.menuItems|sort((a, b) => a.positionIndex <=> b.positionIndex) %}
                    {% if menuItem.page.type == 'menu' %}
                        {{ _self.renderMenu(menuItem.page,menuItem.uuid) }}
                    {% else %}
                        {% set metadata = get_page_metadata(menuItem.page.type) %}
                        <div class="menu-item" data-menu-item-id="{{ menuItem.uuid }}" data-page-id="{{ menuItem.page.uuid }}" data-edit-settings-url="{{ path('app_edit_page_settings',{page:menuItem.page.uuid}) }}" data-remove-url="{{ path('app_delete_page',{page:menuItem.page.uuid}) }}">
                            <div class="menu-title">
                                <span class="icon">
                                    <i class="{{ metadata.icon }}"></i>
                                </span>
                                <span class="page-name">{{ menuItem.page.name }}</span>
                                <div class="options-button">
                                    <div class="dropdown is-right">
                                        <div class="dropdown-trigger">
                                            <button class="" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span class="icon">
                                <i class="ri-more-fill"></i>
                            </span>
                                            </button>
                                        </div>
                                        <div class="dropdown-menu" id="dropdown-menu" role="menu">
                                            <div class="dropdown-content">
                                                <a href="{{ path('app_edit_page',{page:menuItem.page.uuid}) }}" class="dropdown-item">Editer</a>
                                                <a href="#" class="dropdown-item" data-action="open_page_settings">Paramètres</a>
                                                <a href="#" class="dropdown-item">Design</a>
                                                <a href="#" class="dropdown-item has-text-danger" data-action="remove_page">Supprimer</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="menu-item add-page no-draggable" data-action="add-page" data-action-url="{{ path('app_menu_get_page_types_panel',{'parentMenu':menu.uuid}) }}">
                    <div class="menu-title">
            <span class="icon">
                <i class="ri-add-line"></i>
            </span>
                        <span>Ajouter une section</span>
                    </div>
                </div>
            </div>
        </div>

    {% endif %}

{% endmacro %}
