{% extends 'base.html.twig' %}

{% block body %}
    <div class="h-100" style="max-height: calc(100vh - 54px)">
        {{ form_start(form,{'attr':{"class":'h-100'}}) }}
        <div class="is-centered h-100 mt-0 is-display-flex is-flex-direction-row">
            <div class="is-flex is-flex-direction-row is-justify-content-center w-100 is-overflow-y-scroll h-100">
            <div class="pt-4 px-3 h-100" style="flex: 1;-webkit-box-flex: 1;
  -ms-flex: 1;
  max-width: 744px;
  width: 700px;
  margin: 32px 80px 80px;">
                {{ form_row(form.name,{'attr':{"class":' is-medium has-no-border is-large'}, 'label_attr':{"class":'is-hidden'}}) }}

                <div id="editor-content" class="editor-container">
                    {{ form_row(form.content,{'attr':{"class":' is-hidden'}, 'label_attr':{"class":'is-hidden'}}) }}
                    <div id="editor"
                         class="content-editor"
                         data-media-library-url="{{ url('media_library_list_all',{type: constant('App\\Entity\\Media::TYPE_IMAGE')}) }} ">

                    </div>

                </div>


            </div>
            </div>

            <div class="has-divider-border h-100 px-3 pt-4 has-background-grey-lighter" style="min-width: 384px; flex: 1">
                <!-- Publish button and options -->
                <div class="is-flex is-flex-direction-column mt-4">
                    {{ form_row(form.submit,{'attr':{'class':'w-100 text-center'}}) }}
                    <div class="mt-2">
                        <div class="field">
                            {{ form_label(form.slug) }}
                            <div class="field has-addons">
                                <p class="control">
                                    <a class="button is-static">
                                        www.appcms.fr/
                                    </a>
                                </p>
                                {{ form_widget(form.slug) }}
                            </div>
                            {{ form_errors(form.slug) }}
                            {{ form_help(form.slug) }}
                        </div>
                    </div>
                    <div class="mt-2">
                        {{ form_row(form.description) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('initContentPageEditor') }}
{% endblock %}
