{% extends 'base.html.twig' %}
{% import "app_structure/macro/menu_item.html.twig" as menuItemMacro %}
{% block title %}Structure - Backoffice - {{ application.name }}{% endblock %}

{% block body %}
    <div class="w-100">
        <div class="toggle-buttons is-hidden-desktop">
            <button class="button is-primary" id="show-settings">Show Settings</button>
            <button class="button is-link" id="show-preview">Show Preview</button>
        </div>
        <div class="main-container">

            <div class="preview-container pt-4">
                <p>Preview content here...</p>
            </div>
            <div class="settings-container active has-divider-border pt-4">
                <div class="page-settings-form-container" id="page-settings"></div>
                <div class="structure-container" id="app-structure" data-refresh-url="{{ path('app_structure_partial') }}">
                    <div class="w-100">
                        <h2 class="title is-4">Menu de navigation</h2>
                        <div class="menu custom-menu">
                            {{ menuItemMacro.renderMenu(mainMenu) }}
                        </div>
                    </div>
                    <div class="w-100 mt-5">
                        <h2 class="title is-4">Autres pages & menus</h2>
                        <div class="menu custom-menu">
                            {{ menuItemMacro.renderMenu(unassignedPagesMenu) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id="page_types_panel_modal" class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body" id="modal-content">
                <!-- Content will be injected here -->
            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
            </footer>
        </div>

    </div>
{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        {{ encore_entry_script_tags('app_structure') }}
    {% endblock %}
